<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--BOOTSTRAP-->

    <script src="/static/js/confirm.js"></script>
    <title>{%block title%}{%endblock%}</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="menu col-9">
                <a class="p-1" href="{{url_for('index')}}">Главная страница</a> | 
                
                <span>
                    <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:blue">
                        Панель администрарота
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{url_for('administrator.index_adm')}}">Панель администратора</a>
                        <a class="dropdown-item" href="{{url_for('administrator.allusers')}}">Пользователи</a>
                        <a class="dropdown-item" href="{{url_for('administrator.tempusers')}}">Незарегистрированные</a>
                        <a class="dropdown-item" href="{{url_for('administrator.reserve')}}">Резерв</a>
                        <a class="dropdown-item" href="{{url_for('administrator.event')}}">События</a>
                        <a class="dropdown-item" href="{{url_for('administrator.getdata')}}">Отчет по регистрациям</a>
                        <a class="dropdown-item" href="{{url_for('administrator.faculty')}}">Факультеты</a>
                        <a class="dropdown-item" href="{{url_for('administrator.post')}}">Новости</a>
                        <a class="dropdown-item" href="{{url_for('administrator.pages')}}">Редактировать тексты</a>
                        <a class="dropdown-item" href="{{url_for('administrator.backupdb')}}">Бэкап базы</a>
                    </div>
                </span>

            </div>
            <div class="col-2 p-1 text-right"><a href="{{url_for('unlogin')}}">Выход</a></div>
        </div>
    </div>

            {%block body%}{%endblock%}
            <footer></footer>
</body>
</html>