{%extends "basic.html"%}
{%block title%}Волонтеры НИУ ВШЭ - о нас{%endblock%}
{%block body%}


<div class="container">
<h2 class="m-2">О нас</h2>
<div class="news">
    <div class="media border rounded-right m-2 p-2">
        {{ content | safe}}
        <!--
        <div>
            <p>Мы занимаемся проведением олимпиад и конкурсов НИУ ВШЭ для <a href="//olymp.hse.ru/mmo" target="_blank">школьников</a> и <a href="//olymp.hse.ru/ma" target="_blank">студентов</a>.</p>
            <p>Мы - это Дирекция по профессиональной ориентации и работе с одаренными учащимися.</p>
            <p>Олимпиады Вышки собирают тысячи участников, и без помощи ответственных и энергичных студентов Вышки нам просто не обойтись!</p>
            <p>Тех, кто готов присоединиться к нашей команде, ждет:</p>
            <ol>
                <li>работа в штабе оргкомитета</li>
                <li>работа дежурным в аудитории</li>
                <li>благодарность и подарок Дирекции</li>
            </ol>
            <p>не говоря о радости участия в хорошем и полезном деле, общении в хорошей компании, 
            развитии способностей работать с аудиторией и прочих немаловажных вещах.</p>
            <p>Основная потребность в волонтерах приходится на январь-февраль.</p>
            <p>Чтобы присоединиться к рядам волонтеров и быть в курсе предстоящих событий, <a href="{{url_for('person')}}">зарегистрируйтесь</a> в системе.</p>
            <p><strong>Следите за новостями в сообществе <a href="//vk.com/hsevolunteers" target="_blank">волонтеров олимпиад</a>!</strong></p>
        </div>
        -->
    </div>
</div>
</div>
{%endblock%}
