<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{%block title%}{%endblock%}</title>
    {%block meta%}{%endblock%}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8"><a href="/">Главная</a> | <a href="{{url_for('real_time')}}">Свободные места</a> | <a href="{{url_for('about')}}">О нас</a> | <a href="{{url_for('contact')}}">Контакты</a></div>
            <div class="col-md-4 text-right"><a href="https://olymp.hse.ru/volunteers/account" target="_blank">Инструкция</a> | <a href="/person">Регистрация</a> | <a href="/login">Личный кабинет</a></div>
        </div>
        <div class="exter">
            <h1 class="logo">Волонтерское движение на олимпиадах и конкурсах НИУ ВШЭ</br>
                Личный кабинет</h1>
            {% if (session.get('id')) %}
            <img src="/static/image/v2019.png" width="50%" /><img src="/static/image/v2019.png" width="50%" />
            {% else %}
            <img src="/static/image/v2019.png" width="70%" style="padding-right: 15px" />
                <form class="regform" action="/cabinetin" method="post">
                    <div><label style="padding-right: 5px">Логин: </label> <input style="float:right" type="text" name="login" /></div>
                    <div><label style="padding-right: 5px">Пароль: </label> <input style="float:right" type="password" name="password" /></div>
                    <div><input style="float:right" type="submit" value="Войти" /></div>
                    <div><a href="/recovery">Забыли пароль?</a></div>
                </form>
            {% endif %}
        </div>
    </div>
{%block body%}{%endblock%}
<footer></footer>
</body>

</html>