{%extends "basic.html"%}
{%block title%}Волонтеры НИУ ВШЭ - о нас{%endblock%}
{%block body%}


<div class="container">
<h2 class="m-2">Контакты</h2>
<div class="news">
    <div class="media border rounded-right m-2 p-2">
        {{ content | safe }}
        <!--
        <div>
            <p><a href="//talent.hse.ru" target="_blank">Дирекция по профессиональной ориентации и работе с одаренными учащимися. </a></p>
            <p>Адресс: Москва, ул. Мясницая д.18, офис: 18-210, 18-211, 18-212</p>
            <p>Адрес электронной почты: <a href="mailto:olymp@hse.ru">olymp@hse.ru</a></p>
            <p>Телефон: 8 495 531 00 74</p>
            <p><a href="https://olymp.hse.ru/volunteers" target="_blank">Сайт волонтерского движения</a> на портале Национального Исследовательского Университета "Высшая Школа Экономики"</p>
        </div>
        -->
    </div>
</div>
</div>
{%endblock%}
